<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= pageTitle %></title>
  <!-- Favicon -->
  <link rel="icon" href="<%= favRef %>">
  <!-- Bootstrap-->
  <link rel="stylesheet" href="<%= bootstrapCssRef %>">
  <!-- CSS Stylesheet-->
  <link rel="stylesheet" href="<%= cssRef %>">
</head>

<body>
