<%- include("partials/header.ejs", {pageTitle: pageTitle, favRef: favRef, bootstrapCssRef: bootstrapCssRef, cssRef: cssRef}) %>

<div class="container">
  <div class="row row-cols-lg-2 row-cols-md-1 align-items-center justify-content-center min-vh-100 ">
    <div class="bg-form">
      <h1 id="heading-login">Anmeldung</h1>
      <form class="" action="/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Email hier eingeben" name="username" required>
        </div>
        <div class="form-group">
          <label for="passwd">Passwort</label>
          <input type="password" id="passwd" class="form-control" placeholder="Passwort hier eingeben" name="password" required>
        </div>
        <button type="submit" class="btn btn-lg float-end">Anmelden</button>
      </form>
      <p class="register">
        Du hast noch keinen Account? <a href="/register">Registrieren</a>
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs", {bootstrapJsRef: bootstrapJsRef}) %>
