<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog Planet - Page not found</title>
  <!-- Favicon -->
  <link rel="icon" href="../images/favicon.ico">
  <!-- Bootstrap-->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <!-- CSS -->
  <!-- Bei tieferen Verschachtelungen können die Schrifen nicht mehr geladen werden, z.B. bei localhost:3000/ebene1/ebene2/ebene3
       Würde man den CSS Code auslagern, würde zudem der restliche Style (Hintergrund, Schriftfarbe etc.) verloren gehen -->
  <style media="screen">
    @font-face {
      font-family: Roboto;
      src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    }

    @font-face {
      font-family: Roboto-Bold;
      src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    }

    @font-face {
      font-family: Barlow-Condensed;
      src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
    }

    body {
      background-color: #2b2e36;
      color: white;
    }

    h1 {
      color: #5a9285;
      font-family: "Roboto-Bold", Arial, sans-serif;
      font-weight: 700;
      font-size: 72px;
      letter-spacing: 1.5px;
      text-align: center;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row align-items-center justify-content-center min-vh-100">
      <h1>404 Page not found!</h1>
    </div>
  </div>

</body>

</html>
